{% extends 'daily_planner/base.html' %}

{% block content %}

  <p>Task: {{  task.title  }}</p>

  <p>
    
    <p>Deadline : {{  task.date|date:'M d, Y'  }}</p>
    {% if task.description != "" %}
    <p>Description : {{  task.description|linebreaks  }}</p>
    {% else %}
    <p>No description has been provided</p>
    {% endif %}
    <p>Date created: {{  task.created_at|date:'M d, Y H:i'}}</p>

  </p>
  <p>
  <a href="{% url 'daily_planner:edit_task' task.id %}">Edit this task&#x2026;</a>
  </p>
{% endblock content %}