{% extends 'daily_planner/base.html' %}

{% block page_header %}
<h1 class="aqua-font p-2">Tasks</h1>
{% endblock page_header %}
{% block content %}
  <ul class="list-group list-group-flush p-3">
    {% for task in tasks %}
      <li class="list-group-item">
        <a href="{% url 'daily_planner:task' task.id %}"> {{  task.title  }}</a>
      </li>
    {% empty %}
    <small class="text-body-secondary">No topics have been added yet</small>
    {% endfor %}
  </ul>
  
  <a class="btn btn-outline-info" href="{% url 'daily_planner:new_task' %}" role="button">Add a new topic</a>
{% endblock content %}